.container {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  padding-left: 2%;
}

.content {
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
  justify-content: flex-end;
  background-color: bisque;
  margin: 0 30px 50px 0px;
  a {
    padding-left: 20px;
    font-weight: 600;
    cursor: pointer;
  }
}