.word_text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
  padding: 5px 10px;
  margin: 5px;
  height: 30px;
  border-radius: 50px;
  font-weight: 500;
}

.synonym {
  background-color: bisque;
  margin: 2px 10px 2px 10px;
  padding: 10px;
}